// Black & White
$white: #fff;
$black: #2C2C2C;

// Grays
$gray_lightest: #F9F9F9;
$gray_light: #EDEDED;
$gray_lighten: #DADADA;
$gray: #858585;
$gray_mid: #CECECE;
$gray_dark: #777777;

// Green: Primary
$green: #80CA9C;
$green_dark: #488C62;

// Yellow
$yellow: #f1c40f;

// Red
$red: #c0392b;