
/*
 * Account Page Headings
 */

// Spacing for the account header
#pmpro_account-membership {
	margin-bottom: 40px;

	@media ( max-width : 641px ) {
		margin-bottom: 0px;
	}
}

	.page-template-page-dashboard {

		#pmpro_account-membership {
			margin-bottom: 10px;

			@media ( max-width : 641px ) {
				margin-bottom: 30px;

				.dashboard-hello {
					text-align: center;
					width: 100%;
				}

				.span_6 {
					width: 100%;

					.button-block {
						margin: 25px 0px 0px 0px;
					}
				}
			}
		}

		.bar-nav {
			@media ( max-width : 641px ) {
				display: none;
			}
		}

		.covers > p {
			@media ( max-width : 641px ) {
				margin-bottom: 5px;
			}
		}

		.archived {
			.brand-cover {
				opacity: .4;
			}

			li {
				list-style: none;
			}

			.restore {
				color: $gray_mid;
				padding-left: 10px;
			}
		}
	}

	// Styles used to create the cirlce statusc colors on acount headings
	.status {

		&:before {
			content: ".";
			height: 11px;
			width: 11px;
			display: inline-block;
			font-size: 0px;
			background: $gray;
			margin: 0px 6px 0px 0px;
			top: 0px;
			position: relative;
			border-radius: 15px;
		}
	}

	.status-active {
		&:before {
			background: $green;
		}
	}

	.status-warning {

	}

	// Header styles accross acount pages.
	.pmpro_box .avatar {
		width: 80%;
		margin-right: 20%;

		@media ( max-width : 641px ) {
			display: none;
		}

	}

	.pmpro_box .button-block {
		margin-top: 30px;

		@media ( max-width : 775px ) {
			margin-top: 15px;
			margin-bottom: 30px;

			+ p.tiny {
				display: none;
			}
		}
	}


/*
 * Invoice Styles
 */

// invoice pages
.invoices {
	margin: 0px;
	padding: 0px;
}


/*
 * Credit Card styleing for billing pages.
 */

// Wrapper for credit card
.credit-card-wrapper {
	background: $white;
	border-radius: 10px;
	padding: 1% 5%;
	border: 1px solid $gray_mid;
	margin-top: 20px;
	background: $gray_light;
}

	.credit-card-wrapper h3 {
		margin-bottom: 15px;
	}


	.credit-card-wrapper {
		label {
			text-transform: uppercase;
			margin-top: 0px;
		}
	}


	.cvv {
		a {
			position: absolute;
			top: 0px;
			right: 0px;
			text-decoration: none;
			color: $gray_mid;
		}
	}


	.cancel {
		width: 50%;
		margin: 0 auto;
		margin-top: 30px;

		h2 {
			margin-bottom: 15px;
		}

		@media ( max-width : 641px ) {
			width: 100%;

			a {
				width: 100%;
				display: block;
				margin-bottom: 15px;
			}
		}
	}

	#ExpirationMonth, #ExpirationYear {
		margin-bottom: 10px;
	}


/*
 * Creating A Brand page styles
 */

// Wrapper for credit card
.create-brand {
	.url_extention {
		padding: 32px 10px;
		display: block;
		font-size: 20px;

		@media ( max-width : 641px ) {
			padding: 5px 0px 30px 0px;
		}
	}

	@media ( max-width : 641px ) {
		#url {
			margin-bottom: 0px;
		}
	}

}


/*
 * Account Password Reset Styles
 */

// Password Form Styles
#pass-strength-result {
	position: relative;
	margin-left: 20px;
	margin-bottom: 40px;
	margin-top: -10px;
	display: block;
	width: 100%;
	background: transparent;
	border: 0px;
	text-align: left;

	&:before {
		content: ".";
		height: 13px;
		width: 13px;
		display: inline-block;
		position: absolute;
		font-size: 0px;
		background: $gray_light;
		margin: 0px 6px 0px 0px;
		top: 10px;
		left: -20px;
		border-radius: 15px;
	}
}

// Strong Indicator
#pass-strength-result.strong {
	color: $green;
	background: transparent;

	&:before {
		background: $green;
	}
}

// Medium Indicator
#pass-strength-result.good {
	background: transparent;

	&:before {
		background: $yellow;
	}
}

// Weak Indicator
#pass-strength-result.bad, #pass-strength-result.short {
	color: $red;
	background: transparent;

	&:before {
		background: $red;
	}
}



/*
 * Dashboard Styles
 */

// Dashboard row Top padding
.covers .row-border-bottom {
	padding-top: 20px;
	margin-bottom: 10px;
}

.covers > p {
	margin-bottom: 10px;
}





.page-template-page-account-php {
	article h1 {
		margin-top: 40px;
	}
}






#invite_blog_id_tr, #invite_role_tr, #transfer_id_tr {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;

	label, input {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}
}


#theme-my-login .form-table  {

	tr, td {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}
}


form.pmpro_form .pmpro_message, .login p.message {
	margin-bottom: 15px;
}


form.pmpro_form .input, form.pmpro_form textarea, .input, form.pmpro_form select {
	min-width: 100%;
}

.discount_code_button {
	width: 100%;

	&:hover {
		box-shadow: 0px;
		padding: 15px;
	}
}




#pmpro_processing_message {
	p {
		text-align: center;
		margin-top: 20px;
	}

	img {
		margin-right: 10px;
		position: relative;
		top: 9px;
	}
}



.levels-header {
	margin-bottom: 70px;

	p {
		color: lighten($gray, 10%);
		display: block;
		margin-top: 10px;
	}
}


#pmpro_levels_table {
	background: transparent;

	.level-item {
		background: white;
		border: 1px solid $gray-light;
		padding: 5%;
		margin-bottom: 20px;

		.level-title {
			h3 {
				text-align: center;
				padding: 0px;
				margin: 0px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid $gray-light;
			}
		}

		.level-cost {
			h2 {
				color: $gray;
				text-align: center;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid $gray-light;
			}
		}

		.level-description {
			ul {
				padding: 0px;
				margin: 0px;
				padding-bottom: 20px;
				margin-bottom: 40px;
				border-bottom: 1px solid $gray-light;

				li {
					list-style: none;
					padding: 0px;
					margin: 0px;
					font-size: 14px;
					text-align: center;
					margin-bottom: 10px;
					color: $gray;

					strong {
						font-size: 16px;
						display: block;
						margin-bottom: 25px;
					}
				}
			}
		}

		.pmpro_btn {
			background: $green;
			border: 1px solid $green-dark;
			padding: 15px 0px;
			color: white;
			font-weight: 300;
			font-size: 14px;
			opacity: .8;

			&:hover {
				opacity: 1;
			}
		}
	}

	.active {
		background: transparent;

		.pmpro_btn {
			background: $gray-light;
			border: 1px solid $gray-mid;
			padding: 20px 0px;
			color: $gray;
			font-weight: 300;
			font-size: 16px;
		}
	}
}