/*
 * Main styles for the site wide avatars
 */

// main styles
.avatar {
	border-radius: 500px;
	border: 1px solid $gray_light;

	&:hover {
		opacity: .8;
	}
}


.user-item {
	img {
		max-height: 50px;
		min-height: 48px;
	}
}


/*
 * Removes options from the edit profile page.
 */

// Remove
label[for="simple-local-avatar"],
.wpua-edit-container h3,
.edit-profile .wpua-edit-container,
#wpua-upload-messages-existing,
#wpua-preview-existing,
#wpua-images-existing,
.wpua-edit-container .description,
#wpua-remove-button-existing,
#wpua-undo-button-existing,
.wpua-edit input[type="submit"]
 {
	display: none !important;
}

// Styles for the profile image upload
.avatar_upload {
	margin-top: 20px;
}

.avatar_upload {
	input[type="file"] {
		width: 60%;
		float: left;
		padding: 22px 4%;
		border: 1px solid $gray_lighten;
		font-size: 14px;
		line-height: 14px;
		color: $gray;

		@media ( max-width : 641px ) {
			width: 100%;
		}
	}

	input[type="submit"] {
		width: 40%;
		float: right;
		border-radius: 0px 4px 4px 0px;
		padding: 25px 0px;
		border-radius: 4px;

		@media ( max-width : 641px ) {
			width: 100%;
			margin: 10px 0px 20px 0px;
		}
	}
}



.page-template-page-account-php {
	#simple-local-avatar-photo {
		display: none;
	}

	#_simple_local_avatar_nonce {
		display: none;
	}

	td p span.description {
		display: none;
	}

	#simple-local-avatar {
		display: none;
	}

	#simple-local-avatar-remove {
		display: none;
	}
}