.card {
	position: relative;
}

.page-template-page-dashboard .card {
	width: 33%;
	float: left;
	margin-right: .33333333%;
	margin-top: 4px;
	position: relative;

	@media ( max-width : 641px ) {
		width: 49.3333333%
	}

	@media ( max-width : 400px ) {
		width: 100%;
		margin-left: 0px;
	}
}

.brand-cover {
	position: relative;
	border: 1px solid white;

	img {
		height: auto;
		width: auto;
		display: block;
	}

	h2.default-title {
		position: absolute;
		width: 100%;
		color: $gray;
		text-align: center;
		bottom: 45%;
		font-size: 15px;
	}
}

.brand-cover-logo:before{
	content: "";
	display: block;
	padding-top: 80%;
}

.card-inner {
  	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  	width: 70%;
  	margin: 10% auto;
}

#image {
  position: absolute;
  top: 0px;
}

.brand-cover-author {
	position: absolute;
	bottom: -40px;
	left: 15px;
	z-index: 9999;

	@media ( max-width : 641px ) {
		display: none;
	}

	.avatar {
		float: left;
		margin-right: 5px;
		border: 0px;
	}

	p {
		float: left;
		line-height: 55px;
		font-size: 13px;
	}
}

.brand-cover-not-admin {
	margin-bottom: 50px;

	@media ( max-width : 641px ) {
		margin-bottom: 0px;
	}
}



.details-card {
	position: relative;

	.brand-cover-author {
		bottom: -50px;
		left: 20px;

		p {
			font-size: 14px;
			line-height: 60px;
		}
	}
}







.new-card-icons {
	margin: 0px;
	padding: 0px;
	margin-top: 25px;

	li {
		margin: 0px;
		padding: 0px;
		list-style: none;

		a {
			text-decoration: none;
			border: 1px solid $gray_mid;
			width: 32.33333%;
			float: left;
			margin-right: 1%;
			margin-bottom: 1%;
			text-align: center;
			padding: 50px 20px;
			font-size: 18px;
			min-height: 270px;

			&:hover {
				background: $white;
				color: $black;
			}

			@media ( max-width : 900px ) {
				width: 49%;
			}

			@media ( max-width : 580px ) {
				width: 100%;
				margin-right: 0px;
				margin-bottom: 10px;
			}
		}

		span {
			display: block;

			img {
				margin-top: 30px;
			}
		}
	}
}



.gform_update_post_upload_link {
	span {
		width: 65px !important;
		height: 65px !important;
	}
}


.cards-grid {
	margin: 0px;
	padding: 0px;

	.card-item {
		width: 33%;
  		float: left;
  		margin-left: .3333333%;
  		margin-bottom: .3333333%;
  		list-style: none;
  		padding: 0px;

		@media ( max-width : 641px ) {
			width: 100%;
			margin-left: 0%;
		}
	}
}

.card-sidebar {
	padding-right: 3%;

	@media ( max-width : 641px ) {
		display: none;
	}
}


.card-sidebar {
	.cards-grid {
		.card-item {
			width: 100%;
			margin-left: 0px;
			margin-bottom: 10px;
			opacity: .3;

			&:hover {
				opacity: 1;
			}
		}

		.current-menu-item {
			opacity: 1;

			.card-link-wrapper > .card-link {
				border: 1px solid $gray-mid;
			}
		}

		.edit-icon {
			display: none !important;
		}
	}

	.new-card {
		width: 100%;
	}
}


.card-link-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 80%;
}

.card-link-wrapper > .card-link {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid $gray-light;
}

.card-link-a {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.card-single-wrapper .card-link-a {
	pointer-events: none;
   	cursor: default;
   	top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;

}

.card-link .image {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;

    img {
    	height: auto;
    	width: auto;
    	max-width: 200%;
    	display: inline-block;
    }
}


.card-link .logo {
	img {
		position: relative;
		width: auto;
		height: auto;
	}
}


.edit-icon {
	text-decoration: none;
	position: absolute;
	bottom: 7%;
	right: 7%;
	display: none;
}

.single-cards .edit-icon {
	bottom: 3%;
	right: 3%;
}


.card-delete {
	text-align: right;
	float: right;

	&:hover {
		color: $red;
	}

	@media ( max-width : 760px ) {
		width: 100%;
		float: left;
		text-align: center;
		padding: 5px 0px;
		margin-bottom: 30px;
	}
}

.gform_wrapper form {

	li.gfield.gf_left_two_thirds {
		width: 64.5%;
		float: left;
		clear: none;

		@media ( max-width : 760px ) {
			width: 100%;
			margin: 0px;
		}
	}

	li.gfield.gf_right_one_third {
		width: 33.5%;
		float: right;
		clear: none;

		@media ( max-width : 760px ) {
			width: 100%;
			margin: 0px;
		}
	}
}

.page-template-page-card-edit,  {
	.entry-title {
		@media ( max-width : 760px ) {
			text-align: center;
		}
	}
}


.card-link.colors {
	a {
		text-decoration: none;

		&:hover {
			color: inherit;
		}
	}
}
.color-labels {
	position: absolute;
	bottom: 15%;
	left: 15%;

	h2 {
		color: white;
		font-size: 9px;
		line-height: 17px;
		margin-bottom: 4px;
	}

	ul {
		margin: 0px;
		padding: 0px;

		li {
			list-style: none;
			margin: 0px;
			color: white;
			font-size: 6px;
			line-height: 11px;
		}
	}
}


.category-color {
	.card-single-wrapper  {
		.card-link-wrapper {
			.card-link.colors {

				.color-labels {

					h2 {
						font-size: 22px;
						line-height: 30px;
						margin-bottom: 15px;
					}

					ul li {
						font-size: 16px;
						line-height: 28px;
					}
				}
			}
		}
	}
}

.card-sidebar {
		.card-link-wrapper {
			.card-link.colors {

				.color-labels {

					h2 {
						font-size: 6px;
						line-height: 11px;
						margin-bottom: 5px;
					}

					ul li {
						font-size: 3px;
						line-height: 4px;
					}
				}
			}
		}

}



.card-link.palettes {
	background: white;

	.palette {
		padding: 10% 10%;
		padding-bottom: 40%;
	}

	.palette-item {
		width: 19%;
		margin-left: 1%;
		float: left;
		margin-bottom: 10%;

		&:nth-child(5n+5) {
			margin-right: 0px;
		}

		.swatch {
			display: block;
			width: 80%;
			padding-bottom: 80%;
			background: $gray-light;
			border-radius: 500px;
		}

		h2 {
			color: $gray;
			margin-bottom: 0px;
			margin-top: 10%;
			font-size: 14px;
			line-height: 30px;

				@media ( max-width : 960px ) {
			  		font-size: 10px;
				  	font-size: 1vm;
				  	font-size: 1vmin;
				  	line-height: 15px;
				  	line-height: 1.5vm;
				  	line-height: 1.5vmin;
				 }

				@media ( max-width : 641px ) {
					font-size: 12px;
			  		font-size: 1.2vm;
			  		font-size: 1.2vmin;
			  		line-height: 20px;
			  		line-height: 2vm;
			  		line-height: 2vmin;
		  		}
		}

		ul {
			margin: 0px;
			padding: 0px;

			li {
				list-style: none;
				margin: 0px;
				color: $gray;
				font-size: 12px;
			  	line-height: 20px;

			  	@media ( max-width : 960px ) {
			  		font-size: 8px;
				  	font-size: .8vm;
				  	font-size: .8vmin;
				  	line-height: 15px;
				  	line-height: 1.5vm;
				  	line-height: 1.5vmin;
				 }

				@media ( max-width : 641px ) {
					font-size: 10px;
			  		font-size: 1vm;
			  		font-size: 1vmin;
			  		line-height: 20px;
			  		line-height: 2vm;
			  		line-height: 2vmin;
		  		}
			}
		}
	}
}


.category-palette {

	.card-single-wrapper {
		.card-link-wrapper {
			display: inline-block;
			padding-bottom: 0%;

			.card-link.palettes {
				position: inherit;
				display: inline-block;
				padding-bottom: 10%;
				height: 100%;
				min-width: 100%;

				.card-link-a {
					position: inherit;
				}

				.col.palette-item {

					@media ( max-width : 1000px ) {
						width: 23%;

						&:nth-child(5n+5) {
							margin-right: 2%;
						}

						&:nth-child(4n+4) {
							margin-right: 0%;

							&:after {
								content: ".";
								color: transparent;
							}
						}
					}

					@media ( max-width : 800px ) {
						width: 31%;

						&:nth-child(5n+5) {
							margin-right: 2%;
						}

						&:nth-child(4n+4) {
							margin-right: 0%;

							&:after {
								content: "";
							}
						}

						&:nth-child(3n+3) {
							margin-right: 0%;

							&:after {
								content: ".";
								color: transparent;
							}
						}
					}

					@media ( max-width : 641px ) {
						width: 48%;

						&:nth-child(5n+5) {
							margin-right: 2%;
						}

						&:nth-child(4n+4) {
							margin-right: 0%;

							&:after {
								content: "";
							}
						}

						&:nth-child(2n+2) {
							margin-right: 0%;

							&:after {
								content: ".";
								color: transparent;
							}
						}
					}

					@media ( max-width : 420px ) {
						width: 100%;

						&:nth-child(5n+5) {
							margin-right: 0%;
						}

						&:nth-child(4n+4) {
							margin-right: 0%;

							&:after {
								content: "";
							}
						}

						&:nth-child(2n+2) {
							margin-right: 0%;

							&:after {
								content: "";
							}
						}

						.swatch {
							margin: 0px 10%;
						}

						h2, ul li {
							text-align: center;
							margin-top: 15px;
						}
					}

					h2 {
						color: $gray;
						margin-bottom: 0px;
						font-size: 14px;
						line-height: 30px;
					}

					ul {
						margin: 0px;
						padding: 0px;

						li {
							list-style: none;
							margin: 0px;
							color: $gray;
							font-size: 12px;
						  	line-height: 20px;
						}
					}

					.palette {
						padding: 4% 10%;
					}
				}
			}
		}
	}
}


.cards-grid .card-link.palettes {
	.palette-item {
		margin-bottom: 5px;

		@media ( max-width : 641px ) {
			margin-bottom: 20px;
		}

		h2 {
			font-size: 5px;
		  	font-size: .5vm;
		  	font-size: .5vmin;
		  	line-height: 9px;
		  	line-height: .9vm;
		  	line-height: .9vmin;

		  	@media ( max-width : 641px ) {
				font-size: 12px;
		  		font-size: 1.2vm;
		  		font-size: 1.2vmin;
		  		line-height: 20px;
		  		line-height: 2vm;
		  		line-height: 2vmin;
	  		}

		}

		ul li {
			font-size: 3px;
		  	font-size: .3vm;
		  	font-size: .3vmin;
		  	line-height: 5px;
		  	line-height: .5vm;
		  	line-height: .5vmin;

		  	@media ( max-width : 641px ) {
				font-size: 10px;
		  		font-size: 1vm;
		  		font-size: 1vmin;
		  		line-height: 20px;
		  		line-height: 2vm;
		  		line-height: 2vmin;
	  		}
		}
	}
}



.card-sidebar .card-link.palettes {
	.palette-item {
		margin-bottom: 5px;

		@media ( max-width : 641px ) {
			margin-bottom: 20px;
		}

		h2 {
			font-size: 2px;
		  	font-size: .2vm;
		  	font-size: .2vmin;
		  	line-height: 4px;
		  	line-height: .4vm;
		  	line-height: .4vmin;

		  	@media ( max-width : 641px ) {
				font-size: 12px;
		  		font-size: 1.2vm;
		  		font-size: 1.2vmin;
		  		line-height: 20px;
		  		line-height: 2vm;
		  		line-height: 2vmin;
	  		}

		}

		ul li {
			font-size: 15px;
		  	font-size: .15vm;
		  	font-size: .15vmin;
		  	line-height: 2.5px;
		  	line-height: .25vm;
		  	line-height: .25vmin;

		  	@media ( max-width : 641px ) {
				font-size: 10px;
		  		font-size: 1vm;
		  		font-size: 1vmin;
		  		line-height: 20px;
		  		line-height: 2vm;
		  		line-height: 2vmin;
	  		}
		}
	}
}


.card-link.typography {
	background: white;

	a {
		text-decoration: none;

		&:hover {
			color: iherit;
		}
	}

	.example-typography {
		height: 100%;

		.col {
			position: absolute;
			bottom: 0px;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
			text-align: left;
			right: 0px;
		}
	}

	.typography {
		padding: 12%;
		position: absolute;
    	top: 0; bottom: 0; left: 0; right: 0;
    	height: 97%;

    	@media ( max-width : 641px ) {
			padding: 10% 10% 15% 10%;
    	}
	}


	h2 {
		color: $gray;
		line-height: auto;
		margin: 0px;
		margin-bottom: 0%;
		font-size: 50px;
  		font-size: 5vm;
  		font-size: 5vmin;
  		line-height: 50px;
  		line-height: 5vm;
  		line-height: 5vmin;

  		@media ( max-width : 641px ) {
			font-size: 200px;
	  		font-size: 20vm;
	  		font-size: 20vmin;
	  		line-height: 200px;
	  		line-height: 20vm;
	  		line-height: 20vmin;
		}
	}

	h4 {
		color: $gray;
		font-size: 4.5px;
  		font-size: .45vm;
  		font-size: .45vmin;
  		line-height: 4px;
  		line-height: .4vm;
  		line-height: .4vmin;
		margin-bottom: 2px;
		margin-bottom: .2vm;
  		margin-bottom: .2vmin;
		word-wrap: break-word;
		padding-right: 5%;

		@media ( max-width : 641px ) {
			font-size: 18px;
	  		font-size: 1.8vm;
	  		font-size: 1.8vmin;
	  		line-height: 24px;
	  		line-height: 2.4vm;
	  		line-height: 2.4vmin;
		}
	}

	h3 {
		color: $gray;
		font-size: 4px;
  		font-size: .4vm;
  		font-size: .4vmin;
  		line-height: 7px;
  		line-height: .7vm;
  		line-height: .7vmin;
		margin: 0px;
		margin-bottom: 5px;
		font-weight: 700;

		@media ( max-width : 641px ) {
			font-size: 15px;
	  		font-size: 1.5vm;
	  		font-size: 1.5vmin;
	  		line-height: 20px;
	  		line-height: 2vm;
	  		line-height: 2vmin;
		}
	}

	p {
		color: $gray;
		font-size: 4px;
  		font-size: .3vm;
  		font-size: .3vmin;
  		line-height: 7px;
  		line-height: .6vm;
  		line-height: .6vmin;

  		@media ( max-width : 641px ) {
			font-size: 9px;
	  		font-size: .9vm;
	  		font-size: .9vmin;
	  		line-height: 18px;
	  		line-height: 1.8vm;
	  		line-height: 1.8vmin;
		}
	}
}


.category-typography {
	.card-single-wrapper {
		.card-link-wrapper {

			@media ( max-width : 641px ) {
				padding: 0px

			}
		}

		.card-link.typography {
			@media ( max-width : 641px ) {
				position: relative;
				display: inline-block;
				width: 100%;
				padding: 15px;
			}

			.card-link-a {
				@media ( max-width : 641px ) {
					position: relative;
					display: inline-block;
					width: 100%;
				}
			}

			.typography {
				@media ( max-width : 641px ) {
					position: relative;
					display: inline-block;
				}
			}

			.example-typography .col {
				@media ( max-width : 641px ) {
					position: relative;
					margin-bottom: 20px;
				}
			}

			h2 {
				font-size: 200px;
				line-height: 200px;
				display: block;

				@media ( max-width : 1000px ) {
					font-size: 150px;
					line-height: 150px;
  					word-wrap: break-word;
				}
			}

			h3 {
				font-size: 18px;
				line-height: 22px;
				display: block;
				margin-bottom: 15px;

				@media ( max-width : 1000px ) {
					font-size: 14px;
					line-height: 16px;
  					word-wrap: break-word;
				}
			}

			h4 {
				font-size: 18px;
				line-height: 22px;
				display: block;

				@media ( max-width : 1000px ) {
					font-size: 12px;
					line-height: 14px;
					word-wrap: break-word;
				}
			}

			p {
				font-size: 12px;
				line-height: 18px;
				display: block;
  				word-wrap: break-word;

				@media ( max-width : 1000px ) {
					font-size: 8px;
					line-height: 12px;
				}
			}
		}
	}
}



.card-sidebar {
	.card-link-wrapper {
		.example-typography {

			h2 {
				font-size: 30px;
				line-height: 30px;
				display: block;

				@media ( max-width : 1000px ) {
					font-size: 20px;
					line-height: 20px;
  					word-wrap: break-word;
				}
			}

			h3 {
				font-size: 4px;
				line-height: 5px;
				display: block;
				margin-bottom: 0px;

				@media ( max-width : 1000px ) {
					font-size: 3px;
					line-height: 5px;
  					word-wrap: break-word;
				}
			}

			h4 {
				font-size: 3px;
				line-height: 4px;
				display: block;

				@media ( max-width : 1000px ) {
					font-size: 2px;
					line-height: 3px;
					word-wrap: break-word;
				}
			}

			p {
				font-size: 2px;
				line-height: 3px;
				display: block;
  				word-wrap: break-word;

				@media ( max-width : 1000px ) {
					font-size: 1px;
					line-height: 2px;
				}
			}
		}
	}
}


.card-link.video {
	.video-play {
		position: absolute;
		width: 20px;
		max-width: auto;
		bottom: 10%;
  		left: 10%;
 		opacity: .8;
	}
}


.category-video {

	.card-single-wrapper {
		.card-link-wrapper {
			display: inline-block;
			padding-bottom: 0%;

			.card-link.video {
				position: inherit;
				display: inline-block;
				padding-bottom: 0%;
				height: 100%;
				width: 100%;

				.card-link-a {
					position: inherit;
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}