.notification-bar {
	background: $gray;
	padding: 10px 0px;
	border-bottom: 1px solid $gray_dark;
	border-top: 1px solid $gray_dark;

	p {
		color: white;
		font-size: 13px;
		font-weight: 300;
	}

	a {
		float: right;
		color: $gray-mid;
		font-size: 13px;
		font-weight: 300;

		&:hover {
			color: white;
		}
	}
}

#message.error {
	background: $red;
	padding: 10px 0px;
	border-bottom: 1px solid $gray_dark;
	border-top: 1px solid $gray_dark;

	p {
		color: white;
		font-size: 13px;
		font-weight: 300;
		text-align: center
	}
}