.single-cards {

	#content {
		margin-top: 25px;
	}

	.card-item {
		list-style: none;
		margin: 0px;
		paddign: 0px;
	}

	.card-left {
		background: white;
		display: block;
		background-image: -o-linear-gradient(0deg, #FFFFFF 20%, #F9F9F9 70%);
		background-image: -moz-linear-gradient(0deg,  #FFFFFF 20%, #F9F9F9 70%);
		background-image: -ms-linear-gradient(0deg,  #FFFFFF 20%, #F9F9F9 70%);
		background-image: linear-gradient(-90deg,  #FFFFFF 20%, #F9F9F9 70%);
		border-right: 1px solid $gray-light;

		@media ( max-width : 641px ) {
			display: none;

		}
	}

	.card-right {
		background: white;
		display: block;
		background-image: -o-linear-gradient(180deg, #FFFFFF 20%, #F9F9F9 70%);
		background-image: -moz-linear-gradient(180deg,  #FFFFFF 20%, #F9F9F9 70%);
		background-image: -ms-linear-gradient(180deg,  #FFFFFF 20%, #F9F9F9 70%);
		background-image: linear-gradient(-270deg,  #FFFFFF 20%, #F9F9F9 70%);
		border-left: 1px solid $gray-light;

		@media ( max-width : 641px ) {
			display: none;

		}
	}

	.entry-title {
		width: 60%;
		float: left;
		font-size: 16px;
		font-weight: 700;
		color: $gray;
	}

	.single-card-links {
		ul {
			margin: 0px;
			padding: 0px;
			float: right;
			width: 40%;
			display: block;

			li {
				margin: 0px;
				padding: 0px;
				list-style: none;
				float: right;
				margin-left: 3%;

				a {
					color: $gray;
					font-size: 12px;

					&:hover {
						color: $green;
					}
				}
			}
		}
	}

	.filler {
		color: transparent;

		@media ( max-width : 641px ) {
			display: none;
		}
	}

	#arrow-nav {
		margin-bottom: 15px;
		margin-top: 5px;

		.nav-previous {
			float: left;
			width: 20%;
			display: inline-block;

			a {
				text-decoration: none;
				font-size: 11px;
				color: $gray-mid;
				width: 100%;
				display: block;
			}
		}

		.nav-label {
			float: left;
			width: 60%;
			display: inline-block;

			span {
				text-decoration: none;
				font-size: 11px;
				color: $gray-mid;
				text-align: center;
				width: 100%;
				display: block;
				padding: 5px 0px;

			}
		}

		.nav-next {
			float: right;
			width: 20%;
			display: inline-block;

			a {
				text-decoration: none;
				font-size: 11px;
				color: $gray-mid;
				text-align: right;
				width: 100%;
				display: block;
			}
		}
	}

	.content-column {
		margin-left: 0px;

		@media ( max-width : 641px ) {
			width: 100%;
		}
	}



	.card-meta {
		float: left;
		display: inline-block;
		padding: 4% 8% 4% 0%;

		.meta-item {
			border-bottom: 1px solid $gray-light;
			color: lighten($gray, 20%);
			font-size: 13px;
			margin-bottom: 5px;
			padding-bottom: 5px;
			text-align: right;

			span {
				text-align: left;
				float: left;
				padding-right: 70px;
				display: inline-block;
			}
		}
	}

	.card-meta.full-width {
		width: 100%;
		padding: 4% 0% 4% 0%;
	}

	.card-content {
		margin-top: 20px;
		padding-right: 3%;

		@media ( max-width : 641px ) {
			padding-right: 0px;
		}

		p {
			font-family: 'Merriweather', serif;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 20px;
			color: $gray;
		}

		p + p {
			margin-bottom: 20px;
		}
	}


	.card-files {
		background: white;
		border: 1px solid $gray-light;
		width: 100%;
		margin-top: 20px;
		padding: 30px;

		h3 {
			color: $green;
			font-size: 16px;
			padding: 0px 0px 10px 0px;
			margin: 0px 0px 10px 0px;
			border-bottom: 1px solid $gray-light;
		}

		input[type="checkbox"] {
			float: left;
			margin: 3px 10px 0px 0px;
		}

		label {
			margin-bottom: 10px;

			span {
				float: right;
				display: inline-block;
			}
		}

		.controls {
			border-top: 1px solid $gray-light;
			margin-top: 15px;
		}

		input[type="submit"] {
			float: clear;
			padding: 15px;
			margin-top: 25px;
		}
	}


	.no-files {
		display: block;
		border: 1px solid $gray-light;
		padding: 50px;
		margin-top: 30px;
		text-align: center;

		a {
			font-size: 12px;
			color: $green;
		}
	}
}





.activity {
	padding-top: 0px;

	h4 {
		color: $green;
		font-size: 15px;
		margin-bottom: 30px;
	}

	.activity-item {
		padding: 0px 0px;

		&:before {
			content: ".";
			display: inline-block;
			background: $gray-mid;
			position: absolute;
			top: 0; bottom: 0;
			left: 11%;
			margin-top: -10px;
			z-index: -1;
			height: 120%;
			width: 1px;
			font-size: 0px;
			color: $gray-lightest;
		}


		img {
			width: 50px;
		}

		p.secondary {
			padding-top: 12px;
		}

		.activity-label {
			p {
				color: $gray-mid;
			}
		}

		.activity-avatar {

		}

		.activity-content {
			margin-left: 1%;

			.activity-content-main {
				font-size: 14px;
			}

			.activity-content-note {
				p {
					font-size: 13px;
					color: darken($gray-mid, 10%);
					margin-top: 5px;
				}
			}
		}


		.activity-content-time {
			p {
				text-align: right;
				color: darken($gray-mid, 10%);
			}
		}
	}

}